/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #818181;
    color: #000;
}

h1, h2 {
    text-align: center;
}

form {
    padding: 20px;
    background-color: #646464;
    display: flex; /* This makes the form a flex container */
    flex-direction: column; /* This stacks the form's children vertically */
    align-items: center; /* This centers the form's children horizontally */
    justify-content: center; /* This centers the form's children vertically */
}

#carList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
}

.car {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: calc(33.33% - 20px);
    margin: 10px;
    text-align: center;
    font-family: arial;
    background-color: #b3b3b3;
    padding: 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.car:hover {
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
}

.car img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.car-details {
    text-align: left;
}

.car-details-2 {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
}

.car-color-section {
    display: flex;
    align-items: center;
}

.color-container {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 10px;
}
